@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <#NameCon id="name" name="姓名" />
                            </div>

                            <div class="col-sm-2">
                                <#NameCon id="address" name="家庭住址" />
                            </div>
                            <div class="col-sm-2">
                                <#SelectCon id="fstatus" name="家庭状况">
                                <option value="">全部</option>
                                <option value="1">有子女</option>
                                <option value="2">无子女</option>
                            </#SelectCon>
                            </div>
                            <div class="col-sm-2">
                                <#SelectCon id="sex" name="性别">
                                <option value="">全部</option>
                                <option value="1">男</option>
                                <option value="2">女</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="idcard" name="身份证" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="phone" name="手机" />
                            </div>
                            <div class="col-sm-2">
                                <#SelectCon id="stafff" name="服务员工">
                                <option value="">全部</option>
                                @for(item in staffs){
                                <option value="${item.id}">${item.name}</option>
                                @}
                            </#SelectCon>
                            </div>
                            <div class="col-sm-2">
                                <#SelectCon id="deptid" name="门店">
                                <option value="">全部</option>
                                @for(item in depts){
                                <option value="${item.id}">${item.fullname}</option>
                                @}
                            </#SelectCon>
                            </div>
                            <div class="col-sm-2">
                                <#AddressSelect id="province" province="province" name="所属地区"/>
                            </div>
                            <div class="col-sm-2">
                                <#AddressSelect id="city" city="city" name="所属区域"/>
                            </div>
                            <div class="col-sm-2">
                                <#AddressSelect id="district" district="district" name="所属区县"/>
                            </div>
            <div class="col-sm-2">
                <#SelectCon id="townshipid" name="挂失状态">
                <option value="">全部</option>
                <option value="0">正常</option>
                <option value="1">挂失中</option>
            </#SelectCon>
        </div>
                            <div class="col-sm-2">
                                <#button name="搜索" icon="fa-search" clickFun="Membermanagement.search()"/>
                                <#button name="读卡" icon="fa-search" clickFun="Membermanagement.search1()"/>
                            </div>
                        </div>

                        <#table id="MembermanagementTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display: none">
    <OBJECT classid=clsid:730BF2F0-EAE2-46C5-BA06-5ABFC9AB8A0A width=0 height=0 align="center" codebase="zx_32.cab#version=1,0,0,1" id="CZx_32Ctrl" HSPACE=0 VSPACE=0>
    </OBJECT>
    <div style="display: none">
        <fieldset>
            <legend>设备操作函数组</legend>
            硬件版本号：
            <input type="text" name="Version" id="Account" maxlength="100" size="30" >
            产品序列号：
            <input type="text" name="Serial" id="Account" maxlength="100" size="30">
            蜂鸣时间：
            <input type="text" name="BeepTime" id="Account" maxlength="10" size="5" value="10">
            蜂鸣间隔时间：
            <input type="text" name="BeepSpaceTime" id="Account" maxlength="10" size="5" value="10">
            蜂鸣次数：
            <input type="text" name="BeepNum" id="Account" maxlength="10" size="5" value="1">
            句柄信息：
            <input type="text" name="DeviceHandle" id="Account" maxlength="100" size="5" value="-1">

            <form name="设备操作">
                <input type="button" onclick="javascript:OpenDevice()" value="打开设备" >
                <input type="button" onclick="javascript:CloseDevice()" value="关闭设备" >
                <input type="button" onclick="javascript:DevBeep()" value="蜂鸣" >
            </form>
        </fieldset>

        </br>

        <fieldset>
            转换数据：
            <input type="text" name="WriteDataASCHEX" id="Account" maxlength="3000" size="85" value="3030313132323333343435353636">
            转换结果：
            <input type="text" name="ReadDataASCHEX" id="Account" maxlength="3000" size="85">

            <form name="ASCHEX操作">
                <input type="button" onclick="javascript:AscHex()" value="ASC码转HEX码" >
                <input type="button" onclick="javascript:HexAsc()" value="HEX码转ASC码" >
            </form>
        </fieldset>

        </br>

        <fieldset>
            <legend>操作Eeprom函数组</legend>
            地址：
            <input type="text" name="AddressEeprom" id="Account" maxlength="10" size="5" value="0">
            长度：
            <input type="text" name="LengthEeprom" id="Account" maxlength="10" size="5" value="200">
            写入数据：
            <input type="text" name="WriteDataEeprom" id="Account" maxlength="3000" size="65" value="00112233445566778899AABBCCDDEEFF">
            读出数据：
            <input type="text" name="ReadDataEeprom" id="Account" maxlength="3000" size="65">

            <form name="EEPROM操作">
                <input type="button" onclick="javascript:DevReadeeprom()" value="读Eeprom" >
                <input type="button" onclick="javascript:DevWriteeeprom()" value="写Eeprom" >
            </form>
        </fieldset>

        </br>

        <fieldset>
            <legend>操作M1卡函数组</legend>
            <label>密码类型：
                <select name="keytypem1" id="keytypem1" >
                    <option value="0" SELECTED>A密码</option>
                    <option value="1">B密码</option>
                </select>
            </label>
            密码：
            <input type="text" name="PwdM1" id="Account" maxlength="12" size="20" value="FFFFFFFFFFFF">
            块地址：
            <input type="text" name="BlockM1" id="Account" maxlength="130" size="5" value="10">
            卡片UID：
            <input type="text" name="UidM1" id="Account" maxlength="130" size="20">
            当前块值：
            <input type="text" name="NowValueM1" id="Account" maxlength="130" size="5" >
            值操作：
            <input type="text" name="NewValueM1" id="Account" maxlength="3000" size="5" value="100">
            写入数据：
            <input type="text" name="WriteDataM1" id="Account" maxlength="3000" size="60" value="00112233445566778899AABBCCDDEEFF">
            读出数据：
            <input type="text" name="ReadDataM1" id="Account" maxlength="3000" size="60">
            <form name="M1卡操作">
                <input type="button" onclick="javascript:RfCard()" value="寻卡" >
                <input type="button" onclick="javascript:RfAuthenticationKey()" value="校验密码" >
                <input type="button" onclick="javascript:RfRead()" value="读数据" >
                <input type="button" onclick="javascript:RfWrite()" value="写数据" >
                <input type="button" onclick="javascript:RfInitval()" value="初始化块值" >
                <input type="button" onclick="javascript:RfReadval()" value="读块值" >
                <input type="button" onclick="javascript:RfIncrement()" value="加值" >
                <input type="button" onclick="javascript:RfDecrement()" value="减值" >
                <input type="button" onclick="javascript:RfRestore()" value="回传" >
                <input type="button" onclick="javascript:RfTransfer()" value="传送" >
                <input type="button" onclick="javascript:RfTerminal()" value="中止卡片" >
            </form>
        </fieldset>

        </br>

        <fieldset>
            <legend>操作非接触式CPU卡函数组</legend>
            <label>COS指令：
                <select name="cosdiscpu" id="st" onchange="discpumycos()">
                    <option value="0" SELECTED>取随机数08</option>
                    <option value="1">选择MF</option>
                </select>
            </label>
            写入数据：
            <input type="text" name="WriteDataDiscpu" id="Account" maxlength="3000" size="83" value="0084000008">
            读出数据：
            <input type="text" name="ReadDataDiscpu" id="Account" maxlength="3000" size="83">

            <form name="非接触式CPU卡操作">
                <input type="button" onclick="javascript:OpenCard5()" value="激活卡片" >
                <input type="button" onclick="javascript:ExchangePro5()" value="发送命令" >
            </form>
        </fieldset>
    </div>

    </br>

    <div>
        <button onclick="readDeviceCard()">读取卡片</button>:<input type="text" id="readDeviceCard">
        <button onclick="readData()">读取数据</button>:<input id="readData" type="text" maxlength="3000" size="60">
        <button onclick="writeData()">写入数据</button>:<input id="writeData" type="text" maxlength="3000" size="60" placeholder="长度为32位 字符规则(0-9|a-f)">
    </div>
</div>
<script src="${ctxPath}/static/modular/main/membermanagement/guashi.js"></script>
<script src="${ctxPath}/static/device/device.js"></script>
@}
