@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="membermanagementInfoTable">

            <div class="row">
                <div>
                    <p id="contentHolder">
                        <video id="video" width="320" height="320" autoplay></video>
                        <button id="picture" style="display:block" class="btn btn-primary button-margin" onclick="MgrUser.openChangeUser()" type="button">
                            <i class="fa fa-edit"></i>&nbsp;拍照
                        </button>
                        <canvas style="display:block" id="canvas" width="320" height="320"></canvas>


                    </p>
                    <script>
                        navigator.getUserMedia = navigator.getUserMedia ||
                            navigator.webkitGetUserMedia ||
                            navigator.mozGetUserMedia;
                        if (navigator.getUserMedia) {
                            navigator.getUserMedia({ audio: true, video: { width: 320, height: 320 } },
                                function(stream) {
                                    var video = document.getElementById("video");
                                    video.src = window.URL.createObjectURL(stream);
                                    video.onloadedmetadata = function(e) {
                                        console.log('nihao44eee4aaaaddda');
                                        video.play();
                                    };
                                },
                                function(err) {
                                    console.log("The following error occurred: " + err.name);
                                }
                            );
                        } else {
                            console.log("getUserMedia not supported");
                        }
                        var context = document.getElementById("canvas").getContext("2d");
                        document.getElementById("picture").addEventListener("click", function () {
                            context.drawImage(video, 0, 0, 320, 320);
                            var imgData=document.getElementById("canvas").toDataURL("image/png");
                            var data=imgData.substr(22);

                            // $("#imgtest").attr("src",imgData);
                            // $.post('recorder/target/sc',{'sj':data});
                            window.parent.imgData=imgData;
                            window.parent.MembermanagementInfoDlg.eaa();
                        });
                    </script>
                </div>

            </div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="${ctxPath}/static/modular/main/membermanagement/membermanagement_userPhotoPage.js"></script>
@}
