@layout("/common/_container.html"){
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <#TimeCon id="beginTime" name="开始时间" isTime="false" pattern="yyyy-MM-dd HH:mm:ss" />
                            </div>
                            <div class="col-sm-6">
                                <#TimeCon id="endTime" name="结束时间" isTime="false" pattern="yyyy-MM-dd HH:mm:ss" />
                            </div>
                        </div>
                        <div class="row btn-group-m-t">
                            <div class="col-sm-10">
                                <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="f()"/>
                                <!--<#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CivilCustomerInfoDlg.close()"/>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script src="${ctxPath}/static/modular/main/integralrecord/integralRecordQuery.js"></script>
<script>
    function f() {
        var beginTime = $("#beginTime").val();
        var endTime = $("#endTime").val();
        window.location.href="/barbrush/export_excel?beginTime="+beginTime+'&endTime='+endTime;
    }
</script>
@}
