<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.ClearMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.Clear">
        <id column="id" property="id" />
        <result column="status" property="status" />
        <result column="createdt" property="createdt" />
        <result column="deptid" property="deptid" />
        <result column="staffid" property="staffid" />
        <result column="updatedt" property="updatedt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, status, createdt, deptid, staffid
    </sql>

</mapper>
