<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.IntegralrecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.Integralrecord">
        <id column="id" property="id"/>
        <result column="integral" property="integral"/>
        <result column="target" property="target"/>
        <result column="typeId" property="typeId"/>
        <result column="otherTypeId" property="otherTypeId"/>
        <result column="integralType" property="integralType"/>
        <result column="memberid" property="memberid"/>
        <result column="createTime" property="createTime"/>
        <result column="deptid" property="deptid"/>
        <result column="clearid" property="clearid"/>
        <result column="staffid" property="staffid"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, integral, target, typeId, otherTypeId, integralType, memberid, createTime, deptid, clearid,staffid
    </sql>
<!--商品销量排名分页查询-->
    <select id="productSalesRanking" resultType="map">
     SELECT
	b.productname,
	b.productnum,
    b.producttype,
	sum(a.consumptionNum) AS count,
<if test="monthTime1 != null and monthTime1 != '' and monthTime2 != null and monthTime2 != ''">
	(
	select 	sum(consumptionNum)
	FROM
	main_inventory_management
	WHERE
	1=1
	and status= 1 and deptid =#{deptId} and
	integralrecordtypeid = b.id and (createTime between CONCAT(#{monthTime1},' 00:00:00') and CONCAT(#{monthTime2},' 23:59:59'))
	) month,
</if>
<if test="periodTime1 != null and periodTime1 != '' and periodTime2 != null and periodTime2 != ''">
	(
	select 	sum(consumptionNum)
	FROM
	main_inventory_management
	WHERE
	1=1
	and status= 1 and deptid =#{deptId} and
	integralrecordtypeid = b.id and (createTime between CONCAT(#{periodTime1},' 00:00:00') and CONCAT(#{periodTime2},' 23:59:59'))
	) time_to_end,
</if>
b.deptid
FROM
		main_inventory_management a
		INNER JOIN main_integralrecordtype b ON b.id = a.integralrecordtypeid
		WHERE
		a.deptid =#{deptId} and a.status=1
		GROUP BY
		a.integralrecordtypeid
<choose>
	<when test="orderBy !=null and orderBy != ''">
		  ORDER BY ${orderBy} ${desc}
	</when>
	<otherwise>
		ORDER BY
		count DESC
	</otherwise>
</choose>
	limit #{pageNum},#{pageSize}
    </select>

	<select id="productSalesRankingCount" resultType="java.lang.Integer">
		select count(1) from
		(
		SELECT
		count(*)
		FROM
		main_inventory_management a
INNER JOIN main_integralrecordtype b ON b.id = a.integralrecordtypeid
WHERE
	a.deptid =#{deptId} and a.status=1
GROUP BY
	a.integralrecordtypeid
		limit #{pageNum},#{pageSize}
		) as a
	</select>

</mapper>
