<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.MainServerConsumptionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.MainServerConsumption">
        <id column="id" property="id" />
        <result column="serverName" property="serverName" />
        <result column="serverContent" property="serverContent" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <result column="consumptionJiFen" property="consumptionJiFen" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, serverName, serverContent, createTime, updateTime, consumptionJiFen
    </sql>

</mapper>
